@model WypozyczalniaProjekt.Models.DbModels.Samochod

@{
    ViewBag.Title = "Edycja rezerwacji";
}

<h2 class="addTitle">Edycja rezerwacji</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="addForm">
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.SamochodID)

        <div class="form">
            @Html.LabelFor(model => model.NumerRejestracyjny)
            <div>
                @Html.EditorFor(model => model.NumerRejestracyjny, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumerRejestracyjny, "")
            </div>
        </div>

        <div class="form">
            @Html.LabelFor(model => model.Przebieg)
            <div>
                @Html.EditorFor(model => model.Przebieg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Przebieg, "")
            </div>
        </div>

        <div class="form">
            @Html.LabelFor(model => model.Vin)
            <div>
                @Html.EditorFor(model => model.Vin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vin, "")
            </div>
        </div>

        <div class="form">
            @Html.LabelFor(model => model.ModelID, "ModelID")
            <div>
                @Html.DropDownList("ModelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelID, "")
            </div>
        </div>

        <div class="form">
            @Html.LabelFor(model => model.LokalizacjaID, "LokalizacjaID")
            <div>
                @Html.DropDownList("LokalizacjaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LokalizacjaID, "")
            </div>
        </div>

        <div class="form">
            <div>
                <input type="submit" value="Save" class="editButton" />
            </div>
        </div>
    </div>
}

<div class="back">
    @Html.ActionLink("Powrót", "ViewAll")
</div>
