@model WypozyczalniaProjekt.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmiana hasła";
}

<h2 class="addTitle">@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "addForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("")
    <div class="form">
        @Html.LabelFor(m => m.OldPassword)
        <div>
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(m => m.NewPassword)
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form">
        <div>
            <input type="submit" value="Zmień hasło" class="editButton" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}