@model WypozyczalniaProjekt.Models.DbModels.Klient

@{
    ViewBag.Title = "Dodawanie klienta";
}
<!--Wyświetlenie możliwości wpisania danych o kliencie  -->
<h2 class="addTitle">Dodawanie klienta</h2>

<div class="ModelAddWrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="addForm">
            @Html.ValidationSummary(true, "")
            <div class="form">
                @Html.DisplayName("Imię")
                <div>
                    @Html.EditorFor(model => model.ImieKlienta)
                    @Html.ValidationMessageFor(model => model.ImieKlienta, "")
                </div>
            </div>

            <div class="form">
                @Html.DisplayName("Nazwisko")
                <div>
                    @Html.EditorFor(model => model.NazwiskoKlienta)
                    @Html.ValidationMessageFor(model => model.NazwiskoKlienta)
                </div>
            </div>

            <div class="form">
                @Html.DisplayName("Adres")
                <div>
                    @Html.EditorFor(model => model.AdresZamieszkaniaKlienta)
                    @Html.ValidationMessageFor(model => model.AdresZamieszkaniaKlienta)
                </div>
            </div>

            <div class="form">
                @Html.DisplayName("Telefon")
                <div>
                    @Html.EditorFor(model => model.NrTelefonuKlienta)
                    @Html.ValidationMessageFor(model => model.NrTelefonuKlienta)
                </div>
            </div>

            <div class="form">
                <div>
                    <input type="submit" value="Create" class="editButton" />
                </div>
            </div>
        </div>
    }

    <div class="back">
        @Html.ActionLink("Powrót", "ViewAll")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
