@model IEnumerable<WypozyczalniaProjekt.Models.DbModels.Marka>

@{
    ViewBag.Title = "ViewAll";
}

<h2 class="Title">Marki samochodów</h2>
<div class="Wrapper">
    <p>
        @Html.ActionLink("Dodaj marke samochodu", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Marka")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaMarki)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.MarkaID }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.MarkaID })
                </td>
            </tr>
        }

    </table>
    </div>
